build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.DS_Store
**/ios/Pods/
**/android/.gradle/
**/android/.kotlin/
**/android/local.properties
**/android/app/build/
*.jks
*.keystore
key.properties
google-services.json
.env
